<md-dialog aria-label="Confirm Dialog">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Non-Contingous Property Selected</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hideSplash()">
          <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
          We can only accept continguous properties for the due diligence submittal, this property is too far from the other selected properties.  Properties can be selected across the street from another, but only if it is less than 100 feet away from the other properties.
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="hideSplash()">
        Continue
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
