<div ng-controller="AppController as app" ng-init="app.showSplash($event);app.createMap()">
    <md-content id="content">
        <div ng-cloak>
            <md-content>
                <form novalidate name="ddForm" ng-submit="app.submitForm()">
                    <h2>Contact Information</h2>
                    <md-input-container class="md-block">
                        <label>Project Contact Person</label>
                        <input ng-required="true" ng-model="app.data.contact" placeholder="Who is the contact person for this request?" />
                    </md-input-container>
                    <div layout="row">
                        <md-input-container class="md-block">
                            <label>Phone</label>
                            <input ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/" ng-required="true" ng-model="app.data.phone" placeholder="XXX-XXX-XXXX" />
                        </md-input-container>
<!--                         <md-input-container class="md-block">
                            <label>Mobile</label>
                            <input ng-pattern="^\(?([0-9]{3})\)?[-.●]?([0-9]{3})[-.●]?([0-9]{4})$" ng-required="true" ng-model="app.data.mobile" placeholder="XXX-XXX-XXXX" />
                        </md-input-container> -->
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input type="email" ng-required="true" ng-model="app.data.email" placeholder="user@domain.com" />
                        </md-input-container>
                    </div>
                    <md-radio-group ng-model="app.data.devplan" layout="row" layout-padding layout-wrap>
                        <span>Is the project associated with an approved development plan?</span>
                        <md-radio-button value="0" class="md-primary">Yes</md-radio-button>
                        <md-radio-button value="1"> No </md-radio-button>
                    </md-radio-group>
                    <div layout="row" layout-wrap>
                        <md-input-container class="md-block" ng-if="app.data.devplan === '0'">
                            <label>Plan Name</label>
                            <input ng-required="true" ng-model="app.data.planname" placeholder="What is the plan name?" />
                        </md-input-container>
                        <md-input-container class="md-block" ng-if="app.data.devplan === '0'">
                            <label>Case #</label>
                            <input ng-required="true" ng-model="app.data.casenum" placeholder="What is the case #?" />
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label>Project Name</label>
                        <input ng-required="true" ng-model="app.data.project" placeholder="What is the name of your project?" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Comments</label>
                        <textarea ng-required="true" ng-model="app.data.comments" placeholder="Enter additional information" ng-maxlength="1000"></textarea>
                    </md-input-container>                       
                    <h2>Property Information</h2>
                    <md-autocomplete ng-disabled="false" md-no-cache="false" md-selected-item="app.selectedAddress" md-search-text="app.addressText" md-selected-item-change="app.addressSelected(address)" md-items="address in app.addressSearch(app.addressText)" md-item-text="address.attributes.ADDRESS" md-min-length="4" md-autoselect="true" placeholder="Enter and select the property address">
                        <span md-highlight-text="searchText">{{address.attributes.ADDRESS}}</span>
                    </md-autocomplete>
                    <p/>
                    <div style="height: 400px; width: 100%;">
                      <div id="viewDiv"></div>                    
                    </div>
                    <md-card>
                        <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">Selected Properties</span>
                            <span class="md-subhead">Enter address in the input box above or single click a property on the map to select.  To remove from list either click on selected property on map or click the delete button.</span>
                          </md-card-title-text>
                        </md-card-title>                    
                        <md-list flex>
                            <md-list-item ng-repeat="parcel in app.parcels" layout-padding ng-mouseenter="app.highlightParcel(parcel)" ng-mouseleave="app.unhighlightParcel()">
                                <md-button aria-label="Remove Parcel" class="md-fab md-mini" ng-click="app.removeParcel(parcel)"><md-icon md-svg-src="assets/svg/delete-white.svg"></md-icon>
                                </md-button>                 
                               <div ng-show="parcel.pin">
                                    <div class="md-subhead">
                                        PIN
                                    </div>
                                    <div>
                                        {{parcel.pin}}
                                    </div>
                                </div>
                               <div ng-show="parcel.address">
                                    <div class="md-subhead">
                                        Address
                                    </div>
                                    <div>
                                        {{parcel.address}}
                                    </div>
                                </div>                                
                                <div ng-show="parcel.owner">
                                    <div class="md-subhead">
                                        Owner
                                    </div>
                                    <div>
                                        {{parcel.owner}}
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>


<!--                         <div layout="row" ng-repeat="parcel in app.parcels" layout-padding layout-wrap> -->
<!--                             <div ng-show="parcel.owner">
                                <div class="md-subhead">
                                    Owner
                                </div>
                                <div>
                                    {{parcel.owner}}
                                </div>
                            </div> -->
<!--                             <md-button class="md-fab md-mini" ng-click="app.removeParcel(parcel)"><md-icon md-svg-src="assets/svg/delete-white.svg"></md-icon>
                            </md-button>                            
                            <div ng-show="parcel.pin">
                                <div class="md-subhead">
                                    PIN
                                </div>
                                <div>
                                    {{parcel.pin}}
                                </div>
                            </div>
                            <div ng-show="parcel.planning1">
                                <div class="md-subhead">
                                    Zoning
                                </div>
                                <div>
                                    {{parcel.planning1}}
                                </div>
                            </div>
                            <div ng-show="parcel.planning2">
                                <div class="md-subhead">
                                    Conditional
                                </div>
                                <div>
                                    {{parcel.planning2}}
                                </div>
                            </div>
                            <div ng-show="parcel.planning3">
                                <div class="md-subhead">
                                    Overlay Districts
                                </div>
                                <div>
                                    {{parcel.planning3}}
                                </div>
                            </div>                        
                            <div ng-show="parcel.planning4">
                                <div class="md-subhead">
                                    Frontage
                                </div>
                                <div>
                                    {{parcel.planning4}}
                                </div>
                            </div>
                            <div ng-show="app.data.planning8">
                                <div class="md-subhead">
                                    Allowed Building Types
                                </div>
                                <div>
                                    {{parcel.planning8}}
                                </div>
                            </div>
                        </div>   -->
                    </md-card>
                 
                    <md-radio-group ng-model="app.data.participated" layout="row" layout-padding layout-wrap>
                        <span>Has anyone participated or scheduled a Rezoning Pre-Application Conference for this property?</span>
                        <md-radio-button value="0" class="md-primary">Yes</md-radio-button>
                        <md-radio-button value="1"> No </md-radio-button>
                    </md-radio-group>
                    <md-radio-group ng-model="app.data.reviewed" layout="row" layout-padding layout-wrap>
                        <span>Have you reviewed the <a href="https://www.raleighnc.gov/content/PlanDev/Documents/DevServ/Forms/DueDiligenceSessionChecklist.pdf" target="_blank">DDS Checklist</a>, and hereby acknowledge the scope of the service?</span>
                        <md-radio-button value="0" class="md-primary">Yes</md-radio-button>
                        <md-radio-button value="1"> No </md-radio-button>                    
                    </md-radio-group>

<!--                     <h2>Questions</h2>
                    <md-input-container class="md-block">
                        <label>Description of the proposed work and any special conditions?</label>
                        <textarea ng-model="app.data.description"></textarea>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Question #1</label>
                        <input ng-model="app.data.question1" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Question #2</label>
                        <input ng-model="app.data.question2" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Question #3</label>
                        <input ng-model="app.data.question3" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Question #4</label>
                        <input ng-model="app.data.question4" />
                    </md-input-container> -->
                    <md-button ng-disabled="app.data.reviewed != 0 || ddForm.$invalid" type="submit" class="md-raised md-primary">Submit</md-button>
                </form>
        </div>
        </md-content>
</div>