<div ng-controller="AppController as app" ng-init="app.createMap()">
    <md-content id="content">
        <div ng-cloak>
            <md-content>
                <p>This notification must be completed for Maintenance Work or if an Emergency arises&nbsp; It is not allowed for any planned installation or construction work other than a City of Raleigh Installation project.</p>
                <form novalidate name="lcForm" ng-submit="app.submitForm()">
                    <div ng-repeat="field in app.fields">
                      <md-input-container class="md-block" ng-if="!field.domain && field.type === 'string' && field.alias != 'From' && field.alias != 'To'">
                          <label>{{field.alias}}</label>
                          <input type="text" ng-required="true" ng-model="app.data[field.name]" md-maxlength="field.length" ng-if="field.length <= 200 && field.name != 'Email'"/>
                          <input type="email" ng-required="true" ng-model="app.data[field.name]" md-maxlength="field.length" ng-if="field.name === 'Email'"/>
                          <textarea rows="5" ng-required="true" ng-model="app.data[field.name]" md-maxlength="field.length" ng-if="field.length > 200"></textarea>
                      </md-input-container>
                      <md-input-container ng-if="field.domain && field.domain.name != 'YesNo'"  class="md-block">
                        <label>{{field.alias}}</label>
                        <md-select ng-model="app.data[field.name]">
                          <md-option><em>None</em></md-option>
                          <md-option ng-repeat="cv in field.domain.codedValues" ng-value="cv.value">
                            {{cv.name}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                      <div ng-if="field.alias === 'Emergency'">
                        <p>
                        Determine if a road is State, City or Privately maintained
                      </p>
                      </div>
                      <div ng-if="field.alias === 'For Maintenance and City of Raleigh Installation Projects only'">
                        <p>No permit shall be identified as Emergency unless the following may occur:</p>

                        <ul>
                        <li>Immediately threatening to life, health, environment or significant loss of property;</li>
                        <li>Have already caused loss of life, health detriments, property damage or environmental damage;</li>
                        <li>Have a high probability of escalating to cause immediate danger to life, health, environment or significant loss of property.</li>
                        </ul>

                        <p>Proceed with the work and comply with all ADA and MUTCD requirements for traffic control.</p>
                      </div>
                      <div ng-if="field.alias === 'Day Work'"><strong>Times Requested</strong>

                      <p>NOTE: No work may occur during <a href="http://www.raleighnc.gov/community/content/CityMgrAdmin/Articles/SpecialEventsRaces.html" target="_blank">Festivals, Road Races, and Special Events</a> unless an EMERGENCY situation occurs</p>
                      </div>
                      <div  ng-if="field.alias === 'Full Street Closure'"><p><strong>Closure times for streets with a marked centerline:</strong></p>

                      <ul>
                      <li>Day work - No closures permitted between the hours of 6:00 a.m. to 9:00 a.m. and 4:00 p.m. to 7:00 p.m. (Peak hours restricted).&nbsp; Further restrictions may apply due to traffic conditions.</li>
                      <li>Night Work (Must be permitted five business days prior to requested date) - No lane closures shall take place prior to 7:00 p.m. and traffic shall resume before 6:00 a.m.&nbsp; The City of Raleigh Noise Ordinance is applicable:&nbsp; <a href="https://www2.municode.com/library/nc/raleigh/codes/code_of_ordinances?nodeId=DIVIICOGEOR_PT12LIRE_CH5NO" target="_blank">Chapter 5, Noise Ordinance</a></li>
                      <li>No lane closure shall occur during any scheduled event</li>
                      </ul>

                      <p><strong>Closure times for unmarked Streets</strong></p>

                      <ul>
                      <li>Day Work - Standard hours for construction related activities are 7:00 a.m. – 7:00 p.m.</li>
                      <li>Night Work - (Must be permitted five business days prior to requested date). The City of Raleigh Noise Ordinance is applicable:&nbsp; <a href="https://www2.municode.com/library/nc/raleigh/codes/code_of_ordinances?nodeId=DIVIICOGEOR_PT12LIRE_CH5NO" target="_blank">Chapter 5, Noise Ordinance</a></li>
                      <li>No lane closure shall occur during any scheduled event</li>
                      </ul>
                      <p>
                        <strong>Type of Closure Requested</strong>
                      </p>
                    </div>

                      <div  ng-if="field.domain.name === 'YesNo'">
                        <md-checkbox ng-model="app.data[field.name]" aria-label="{{field.alias}}">
                          {{ field.alias }}
                        </md-checkbox>
                      </div>
                      <div flex-gt-xs ng-if="field.type === 'date'">
                        <strong>{{field.alias}}</strong>
                        <md-datepicker ng-model="app.data[field.name]" md-placeholder="Enter date"></md-datepicker>
                      </div>
                    </div>
                    <div style="height: 400px; width: 100%;">
                      <div id="viewDiv"></div>
                    </div>
                    <md-button ng-disabled="lcForm.$invalid || app.vertices < 2" type="submit" class="md-raised md-primary">Submit</md-button>
                </form>
        </div>
        </md-content>
</div>
